* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e8d7d5;
  color: #333;
  padding: 10px;
}

.menu-icon {
  font-size: 24px;
}
.profile-icon {
  font-size: 30px;
}

.search-bar {
  padding: 10px;
  background-color: #fff;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.tabs {
  display: flex;
  justify-content: space-around;
  background-color: #f7f7f7;
  padding: 10px;
}

.tab-button {
  padding: 10px 20px;
  border: none;
  background-color: #ddd;
  border-radius: 20px;
  cursor: pointer;
}

.tab-button.one {
  background-color: #333;
  color: #fff;
}

.projects {
  flex: 1;
  padding: 10px;
  background-color: #fff;
  overflow-y: auto;
}

.project-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.project-item i {
  font-size: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.project-details {
  flex-grow: 1;
}

.project-name {
  font-weight: bold;
}

.project-role {
  color: #999;
  font-size: 12px;
}

.project-time {
  color: #999;
  font-size: 12px;
}

.project-options {
  font-size: 24px;
  cursor: pointer;
}

.bottom-nav {
  bottom: 0;
  position: sticky;
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-top: 1px solid #ccc;
  padding: 10px 0;
}

.bx-home-alt {
  padding: 10px 0;
  cursor: pointer;
}
.bx-home-chat {
  padding: 10px 0;
  cursor: pointer;
}
.bx-home-layer-plus {
  padding: 10px 0;
  cursor: pointer;
}
.bx-bar-chart-alt-2 {
  padding: 10px 0;
  cursor: pointer;
}

.bottom-nav a {
  text-decoration: none;
  color: #333;
}

@media (max-width: 768px) {
  .project-item {
    flex-direction: column;
    align-items: flex-start;
  }
}
