* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
}
.app-container {
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}
.popupmain {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e8d7d5;
  color: #333;
  padding: 10px;
}

.menu-icon {
  font-size: 24px;
}
.profile-icon {
  font-size: 30px;
}

.search-bar {
  padding: 10px;
  background-color: #fff;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.broadcasts {
  flex: 1;
  padding: 10px;
  background-color: #fff;
  overflow-y: auto;
}

.broadcast-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 10px;
}

.broadcast-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.add-broadcast {
  padding: 10px;
  background-color: #fff;
  text-align: end;
}

.add-broadcast button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.bottom-nav {
  background-color: #fff;
  bottom: 0;
  position: sticky;
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

.bx-home-alt {
  padding: 10px 0;
  cursor: pointer;
}
.bx-home-chat {
  padding: 10px 0;
  cursor: pointer;
}
.bx-home-layer-plus {
  padding: 10px 0;
  cursor: pointer;
}
.bx-bar-chart-alt-2 {
  padding: 10px 0;
  cursor: pointer;
}
.bottom-nav a {
  text-decoration: none;
  color: #333;
}
.profile-icon a {
  text-decoration: none;
  color: #333;
}
@media (max-width: 768px) {
  .broadcast-item span {
    display: block;
  }
}
